* {
    padding: 0px;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #F4F4F4;
}

.nav {
    display: flex;
    width: 75%;
    z-index: 2;
    align-items: center;
}

.intro-nav .logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-nav .logo img {
    max-width: 30%;
}

.nav .menu {
    flex: 2;
    display: flex;
    justify-content: flex-end;
}

.menu ul {
    list-style-type: none;
    position: relative;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    text-decoration: none;
    padding: 9px 9px;
    color: black;
    font-size: 20px;
    
}

.menu ul li a:hover {
    border-radius: 5px;
    opacity: .5;
}

.menu ul ul {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 40px;
}

.menu ul li:hover > ul {
    visibility: visible;
    opacity: 1;
    top: 30px;
    transition: top .3s;
}

.menu ul ul li {
    position: relative;
    margin: 0px;
    width: 150px;
    display: block;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    background-color: #F4F4F4;
    text-transform: uppercase;
    padding: 10px;
}

.fas {
    float: right;
}

.menu ul ul li a {
    font-size: 14px;
}

.menu ul ul li i {
    max-width: 58px;
    text-align: right;
}

.menu ul ul ul li {
    position: relative;
    top: -30px;
    left: 150px;
    width: 170px;
    background-color: #F4F4F4;
}

.menu ul ul ul li a {
    font-size: 14px;
}

.intro-contact {
    display: flex;
    justify-content: center;
    width: 60%;
    font-size: 18px;
    background-color: white;
    width: 100%;
}

.intro-contact div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    height: 3px;
    border-left-style: solid;
    border-width: 3px;
    font-size: 20px;
}

.intro-contact div i {
    padding-right: 15px;
}

.intro-contact a {
    text-decoration: none;
    color: black;
}

.intro-body {
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#player {
    flex-shrink: 0;
    z-index: -2;
    position: absolute;
}

#overlay {
    background-color: black;
    opacity: .6;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.intro-body {
    font-size: 28px;
}

.main-body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  #F8F8F8;
}

.studies {
    display: flex;
    margin:10px;
    flex-wrap: wrap;
    width: 100%;
    background-color: #F8F8F8;
}

.main-body #findit {
    font-style: normal;
    font-family: alternate-gothic-no-3-d, sans-serif;
    font-size: 10em;
    text-transform: uppercase;
    color: #423A37;
    border-bottom-style: solid;
    border-width: 3px;
}

.studies div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    flex-basis: 50%;
}

.studies div ul li {
    list-style: none;
    font-weight: 550;
    font-size: 18px;
}

.studies div ul li:first-child {
    border-bottom-style: solid;
    text-align: center;
    border-width: 2px;
}

.studies div ul li a {
    text-decoration: none;
    color: black;
}

.study-color {
    background-color: #F0F0F0;
}

.socials {
    display: flex;
}

.socials div {
    flex: 1;
    text-align: center;
    font-size: 24px;
}

.socials div a {
    text-decoration: none;
    color: #423a36;
}

.socials div:hover {
    cursor: pointer;
    background-color: #AA0E28;
}

.socials div:hover a {
    color: white;
}

.footer {
    min-height: 25vh;
    background-color: #AA0E28;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer img {
    width: 5%;
    height: 5%;
    margin-top: 20px;
}

.footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
    margin: 10px;
}

.footer p {
    color: white;
}

.show, input, .icon {
    display: none;
}

@media only screen and (max-width: 1380px) {
    .main-body #findit {
        font-size: 5em;
    }
    .nav .logo {
        justify-content: flex-start;
    }
    .nav {
        display: flex;
        margin-bottom: 25px;
        min-height: 10vh;
        flex-wrap: wrap;
    }


    .nav .menu {
        display: flex;
        justify-content: flex-start;
        flex-basis: 100%;
        margin: 20px;
    }

    .menu ul {
        width: 100%;
    }

    .menu ul ul li {
        width: 100%;
        font-size: 16px;
    }


    .menu ul li, nav ul ul li {
        display: block;
    }

    .menu ul ul {
        top: 70px;
        position: static;
        display: none;
        opacity: 1;
        visibility: visible;
    }

    .nav ul ul li {
        text-transform: none;
        padding: 0px;
    }

    .menu ul ul ul li{
        position: static;
        display: block;
    }


    .menu ul ul li{
        padding-left: 40px;
        border: none;
    }

    .show {
        display: block;
        line-height: 70px;
        cursor: pointer;
    }

    .icon {
        display: block;
        font-size: 25px;
        cursor: pointer;

    }

    .show + a, .nav .menu ul{
        display: none;   
    }


    [id^=btn]:checked + ul {
        display: block;
        
    }


    
}


@media only screen and (max-width: 705px) {
    .main-body #findit {
        font-size: 4em;
    }

    
}

@media only screen and (max-width: 535px) {
    .main-body #findit {
        font-size: 3em;
    }
    

    
}



