* {
    padding: 0px;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #F4F4F4;
}

.nav {
    display: flex;
    width: 95%;
    z-index: 2;
    align-items: center;
}

.intro-nav .logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-nav .logo img {
    max-width: 25%;
}

.menu {
    flex: 2;    
}

.menu ul:not(.dropdown) {
    display: flex;
    justify-content: flex-end;
}

.menu ul li:not(.dropdown) {
    list-style: none;
    position: relative;
    width: 195px;
    text-align: center;
}

.menu a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.menu ul li:hover .dropdown {
    display: flex;
    position: absolute;

}

.menu .dropdown {
    display: none;
    flex-direction: column;
    background-color: #F4F4F4;
    text-align: center;
    left: 0px;
}


.dropdown a {
    font-size: 18px;

}

.dropdown li {
    border-bottom: 1px solid rgba(0,0,0,0.5);
    padding: 10px;
}

.dropdown li:hover {
    opacity: 0.6;
    background-color: #f6f6f6;
}

.intro-contact {
    display: flex;
    justify-content: center;
    width: 60%;
    font-size: 18px;
    background-color: white;
    width: 100%;
}

.intro-contact div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    height: 3px;
    border-left-style: solid;
    border-width: 3px;
    font-size: 20px;
}

.intro-contact div i {
    padding-right: 15px;
}

.intro-contact a {
    text-decoration: none;
    color: black;
}

.intro-body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#player {
    object-fit: fill;
    max-width: 100%;
    min-height: 100%;
    
}

#overlay {
    background-color: black;
    opacity: .6;
    width: 100%;
    height: 100%;
    position: absolute;
}

.intro-body {
    font-size: 28px;
}

.main-body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  #F8F8F8;
}

.studies {
    display: flex;
    margin:10px;
    flex-wrap: wrap;
    width: 100%;
    background-color: #F8F8F8;
}

.studies img {
    max-width: 100%;
    height: auto;
}

.main-body #findit {
    font-style: normal;
    font-family: alternate-gothic-no-3-d, sans-serif;
    font-size: 10em;
    text-transform: uppercase;
    color: #423A37;
    border-bottom-style: solid;
    border-width: 3px;
}

.studies div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    flex-basis: 50%;
}

.studies div ul li {
    list-style: none;
    font-weight: 550;
    font-size: 18px;
}

.studies div ul li:first-child {
    border-bottom-style: solid;
    text-align: center;
    border-width: 2px;
}

.studies div ul li a {
    text-decoration: none;
    color: black;
}

.study-color {
    background-color: #F0F0F0;
}

.socials {
    display: flex;
}

.socials div {
    flex: 1;
    text-align: center;
    font-size: 24px;
}

.socials div a {
    text-decoration: none;
    color: #423a36;
}

.socials div:hover {
    cursor: pointer;
    background-color: #AA0E28;
}

.socials div:hover a {
    color: white;
}

.footer {
    min-height: 25vh;
    background-color: #AA0E28;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer img {
    width: 5%;
    height: 5%;
    margin-top: 20px;
}

.footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
    margin: 10px;
}

.footer p {
    color: white;
}

@media only screen and (max-width: 1380px) {
    .main-body #findit {
        font-size: 5em;
    }

    .nav {
        flex-direction: column;
    }

    .intro-nav .logo img {
        max-width: 60%;
        margin: 10px;

    }

}


@media only screen and (max-width: 1040px) {
    .menu ul:not(.dropdown) {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    .menu ul li:not(.dropdown) {
        list-style: none;
        position: relative;
        text-align: center;
        padding: 10px;
    }
    
    .menu a {
        color: black;
        text-decoration: none;
        font-size: 20px;
    }
    
    .menu ul li:hover .dropdown {
        display: flex;
        position: static;
        padding-left: 80px;
    }
    
    .menu .dropdown {
        display: none;
        flex-direction: column;
        background-color: #F4F4F4;
        
    }
}

@media only screen and (max-width: 705px) {
    .main-body #findit {
        font-size: 4em;
    }

    .intro-contact {
        align-items: center;
        flex-direction: column;
    }

    .intro-contact div {
        border-left-style: none;
        border-bottom: 1px solid rgba(0,0,0,0.5);
    }

    .studies div ul li {
        font-size: 14px;
    }

    
}

@media only screen and (max-width: 535px) {
    .main-body #findit {
        font-size: 3em;
    }

    .studies div ul li {
        font-size: 10px;
    }

    .menu a {
        color: black;
        text-decoration: none;
        font-size: 16px;
    }

    .dropdown a {
        font-size: 14px;
    }
}

@media only screen and (max-width: 400px) {
    .main-body #findit {
        font-size: 2em;
    }

    .menu a {
        color: black;
        text-decoration: none;
        font-size: 14px;
    }

    .dropdown a {
        font-size: 12px;
    }

    .intro-contact div {
        border-left-style: none;
        border-bottom: 1px solid rgba(0,0,0,0.5);
        font-size: 14px;
    }

    .menu ul li:not(.dropdown) {
        list-style: none;
        position: relative;
        width: 140px;
        text-align: center;
    }

    .studies div ul li {
        font-size: 8px;
    }

    .menu ul li:not(.dropdown) {
        list-style: none;
        position: relative;
        width: 135x;
        text-align: center;
    }

    .menu ul li:hover .dropdown {
        display: flex;
        position: static;
        padding-left: 35px;
    }

}


